/Binaries/
/Engine/
/UDKGame/Flash/
/Development/Flash/
/Development/Src/Core/
/Development/Src/Engine/
/Development/Src/GFxUI*/
/Development/Src/GameFramework/
/Development/Src/IpDrv/
/Development/Src/MyMod/
/Development/Src/Online*/
/Development/Src/Substance*/
/Development/Src/UDKBase/
/Development/Src/UTEditor/
/Development/Src/UTGame*/
/Development/Src/UnrealEd/
/Development/Src/WinDrv/
/Development/Src/obj/
/UDKGame/Build/
/UDKGame/Cloud/
/UDKGame/Content/
/UDKGame/Localization/
/UDKGame/Movies/
/UDKGame/Logs/
/UDKGame/PCTOC*.txt
/UDKGame/ProjectTemplates/
/UDKGame/Script/
/UDKGame/Splash/
/UDKGame/Config/IPhone/
/UDKGame/Config/Mac/
/UDKGame/Config/Mobile/
/UDKGame/Config/UnrealFrontend.*/
/UDKGame/Config/Default*.ini
/UDKGame/Config/UDKCharInfo.ini
/UDKGame/Config/UDKEditor*.ini
/UDKGame/Config/UDKGame.ini
/UDKGame/Config/UDKInput.ini
/UDKGame/Config/UDKLightMass.ini
/UDKGame/Config/UDKStaticMesh*
/UDKGame/Config/UDKSystemSettings.ini
/UDKGame/Config/UDKUI.ini
/UDKGame/Config/UDKWeapon.ini
*.upk
*.udk
*.suo
*.u
*.sdf
*.opensdf
*.log
*.lse
*.cfg
*.dat

UDK*.ini